@charset "UTF-8";
/* line 17, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, ul.pager li a, ul.pager nav.global li .current, nav.global ul.pager li .current, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
nav.global li .current, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, table tr td, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, table tr td, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img, nav.global li .current img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*レイアウト用*/
/*font family*/
/*マウスオーバー時の背景色変更*/
/*全体の文字色*/
/* line 21, ../sass/style.scss */
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
}

/*ヘッダ*/
/* line 29, ../sass/style.scss */
header {
  padding: 10px 10px;
  font-size: 30px;
  color: #fffefe;
  background-color: #454545;
  border-bottom: 1px solid #aaaaaa;
}

/*To equal height columns without heightLine.js*/
/* line 38, ../sass/style.scss */
.container_main {
  float: left;
  width: 100%;
  background: white;
  position: relative;
  right: 20%;
}

/* line 46, ../sass/style.scss */
.container_sub {
  float: left;
  width: 100%;
  background: #ef7c61;
  position: relative;
  overflow: hidden;
}

/*main column*/
/* line 55, ../sass/style.scss */
.main {
  margin: 10px;
  float: left;
  width: 77.5%;
  position: relative;
  left: 20%;
}

/* line 63, ../sass/style.scss */
a, nav.global li .current {
  text-decoration: none;
  background: white;
  border: 2px solid #ef7c61;
  padding: 1px 8px;
  border-radius: 5px;
  color: #e8421c;
  cursor: pointer;
}

/*form*/
/* line 75, ../sass/style.scss */
fieldset {
  margin-top: -10px;
  padding: 20px;
  border: 2px dotted #aaaaaa;
  border-radius: 5px;
  line-height: 2;
}

/* line 83, ../sass/style.scss */
label {
  font-weight: bold;
  color: #454545;
}

/*errormsg*/
/* line 90, ../sass/style.scss */
.error {
  margin-bottom: 10px;
  padding: 30px 10px;
  color: #fffefe;
  background-color: #ad4844;
  border-radius: 5px;
}

/*table*/
/* line 100, ../sass/style.scss */
table {
  width: 300px;
  border: 1px #aaaaaa solid;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;
  padding: 10px;
}
/* line 108, ../sass/style.scss */
table tr {
  border: 1px #aaaaaa solid;
  border-width: 0 1px 1px 1px;
}
/* line 112, ../sass/style.scss */
table tr th, table tr td {
  border: 1px #aaaaaa solid;
  background-color: whitesmoke;
  text-align: center;
  font-size: 0.95em;
}
/* line 118, ../sass/style.scss */
table tr td {
  background-color: #FFF;
}

/* line 125, ../sass/style.scss */
#horizontal {
  width: 100%;
  text-align: center;
}

/*pagenav*/
/* line 132, ../sass/style.scss */
ul.pager {
  margin: 0 0 10px;
  padding: 12px;
  background: #aaaaaa;
  text-align: center;
}
/* line 138, ../sass/style.scss */
ul.pager li {
  display: inline;
  margin: 0 1px;
  padding: 0;
}
/* line 143, ../sass/style.scss */
ul.pager li span, ul.pager li a, ul.pager nav.global li .current, nav.global ul.pager li .current {
  display: inline-block;
  padding: 1px 8px;
  background: #fff8dc;
  border: 1px solid #ccc;
  border-radius: 5px;
  vertical-align: middle;
  text-decoration: none;
}
/* line 155, ../sass/style.scss */
ul.pager li a:hover, ul.pager nav.global li .current:hover, nav.global ul.pager li .current:hover {
  color: #fdefec;
  background: #ea5633;
}

/*sidebar*/
/* line 164, ../sass/style.scss */
nav.global {
  list-style: none;
  padding: 0;
  float: right;
  width: 20%;
  position: relative;
  left: 20%;
  background-color: #ef7c61;
  overflow: hidden;
}
/* line 56, ../sass/_mixins.scss */
nav.global li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 173, ../sass/style.scss */
nav.global h4 {
  padding: 5px;
  line-height: 1.6;
  color: #fffefe;
  background: #525252;
}
/* line 181, ../sass/style.scss */
nav.global li {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: 1px solid #f4a28f;
  color: #fffefe;
}
/* line 187, ../sass/style.scss */
nav.global li:last-child {
  border-bottom: 1px solid #f4a28f;
}
/* line 191, ../sass/style.scss */
nav.global li a, nav.global li .current {
  display: block;
  position: relative;
  z-index: 10;
  height: 40px;
  margin: 0;
  padding: 0 10px 0 50px;
  background-color: #ef7c61;
  color: #fdefec;
  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0;
}
/* line 206, ../sass/style.scss */
nav.global li a:before, nav.global li .current:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background: white;
  transition: 0.1s;
}
/* line 219, ../sass/style.scss */
nav.global li a:hover, nav.global li .current:hover {
  background: #e8421c;
}
/* line 223, ../sass/style.scss */
nav.global li a:hover:before, nav.global li .current:hover:before {
  left: -16px;
  width: 50px;
  height: 50px;
  margin-top: -25px;
}
/* line 231, ../sass/style.scss */
nav.global li .current {
  background: #e8421c;
}

/* line 239, ../sass/style.scss */
footer {
  clear: both;
  padding: 10px;
  color: #fffefe;
  background-color: #929292;
}
