@import "compass/reset";
@import "mixins.scss";

//color
$main: #454545;
$main_line: #AAA;
$main_text: #FFFEFE;
$sub: #EF7C61;
$sub_line: lighten($sub, 10%);
$sub_text: lighten($sub, 25%);
$error_bg: #AD4844;

//width,height
$list_width: 100%; 
$sidebar_width: 20%;
$main_margin: 10px;
$main_width: 77.5%;

/*全体の文字色*/
body {
  @include default_fonts;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
}

/*ヘッダ*/
header {
  padding: 10px 10px;
  font-size: 30px;
  color: $main_text;
  background-color: $main;
  border-bottom: 1px solid $main_line;
}

/*To equal height columns without heightLine.js*/
.container_main {
  float: left;
  width: 100%;
  background: white;
  position: relative;
  right: 20%;
}

.container_sub {
  float: left;
  width: 100%;
  background: $sub;
  position: relative;
  overflow: hidden;
}
/*main column*/

.main {
  margin: $main_margin;
  float: left;
  width: $main_width;
  position: relative;
  left: $sidebar_width;
}

a {
  text-decoration: none;
  background: lighten($sub, 50%);
  border: 2px solid $sub;
  padding: 1px 8px;
  border-radius: 5px;
  color: darken($sub, 15%);
  cursor: pointer;
}

/*form*/

fieldset {
  margin-top: - $main_margin;
  padding: 20px;
  border: 2px double $main_line;
  border-radius: 5px;
  line-height: 2;
}

label {
 font-weight: bold;
 color: $main;
}

/*errormsg*/

.error {
  margin-bottom: $main_margin;
  padding: 30px 10px;
  color: $main_text;
  background-color: $error_bg;
  border-radius: 5px;
}

/*table*/

table {
  width:300px;
  border: 1px #e3e3e3 solid;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;
  padding: 10px;

tr {
    border: 1px #e3e3e3 solid;
    border-width: 0 1px 1px 1px;
  
    th {
      border: 1px #e3e3e3 solid;
      background-color: #f5f5f5;
      text-align: center;
      font-size: 0.95em;
    }
    td {
      @extend th;
      background-color: #FFF;
    }
  }
}

#horizontal {
  width: $list_width;
  text-align: center;
}

/*pagenav*/

ul.pager {
  margin: 0 0 10px;
  padding: 12px;
  background: #f3f3f3;
  text-align: center;

  li {
    display: inline;
    margin: 0 1px;
    padding: 0;
  
    span {
      display: inline-block;
      padding: 1px 8px;
      background: #fff8dc;
      border: 1px solid #ccc;
      vertical-align: middle;
      text-decoration: none;
    }

    a {
      @extend span;
      &:hover {
        background: #e3e3e3;
      }
    }
  }
}

/*sidebar*/
nav.global {
  @include erase_list_bullets; 
  float: right;
  width: $sidebar_width;
  position: relative;
  left: $sidebar_width;
  background-color: $sub;
  overflow: hidden;

  h4 {
    padding: 5px;
    line-height: 1.6;
    color: $main_text;
    background: lighten($main, 5%);
  }


  li {
    @include margin_clear;
    overflow: hidden;
    border-top: 1px solid $sub_line;
    color: $main_text;

    &:last-child {
      border-bottom: 1px solid $sub_line;
    }

    a {
      display: block;
      position: relative;
      z-index: 10;
      height: 40px;
      margin: 0;
      padding: 0 10px 0 50px;
      background-color: $sub;
      color: $sub_text;
      font-size: 14px;
      line-height: 40px;
      font-weight: bold;
      text-decoration: none;
      border-radius: 0;
  
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 25px;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        border-radius: 50%;
        background: lighten($sub, 50%);
        transition: 0.1s;
      }
      
      &:hover {
        background: darken($sub, 15%); 
      }
  
      &:hover:before {
        left: -16px;
        width: 50px;
        height: 50px;
        margin-top: -25px;
      }
    }

    .current{
      @extend a;
      background: darken($sub, 15%);
    }

  }
}

footer {
   @include clear;
   padding:10px;
   color: $main_text;
   background-color: lighten($main, 30%);
}
